@import "~/src/scss/index";

.album-info {

    margin-top: 10px;

    > img {
        width: 200px;
        margin-right: 25px;
    }

    > div {
        > h1,p {
            color: $font-blue;
        }
    }

     a {
        color: $font-blue !important;
        font-size: 16px !important;
    }

}
