@import "~/src/scss/index";

.sidebar{

    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    .ui.menu.vertical.secondary.fluid{
        margin: 0;

        .item{
            border-radius: 0 !important;
            border-left: 4px solid transparent;
            color: $font-blue !important;

            i{
                color: $font-blue !important;
            }

            &.active{
                border-color: $primary-color !important;
                color: $font-blue !important;
                i {
                    color: $font-blue !important;
                }
            }
        }
    }
}