@import "~/src/scss/index";

.artist-page {
  &__slider {
    margin: 50px;

    > h2 {
      color: $font-grey;
      font-weight: 100;
      font-size: 22px;
      border-bottom: 0.5px solid;
      padding-bottom: 8px;
      margin-bottom: 30px;
    }

    img {
      width: 150px;
      object-fit: cover;
    }

    h3 {
      margin-top: 10px;
      font-size: 14px;
      font-weight: 100;
      color: $font-light;
    }


  }
}