@import "~/src/scss/index";

.auth  {
    height: 100vh;
    width: 100vw;
    background-image: url(../../assets/background-auth.jpg);
    display: flex;
    align-items: center;
    justify-content: center;

    &__content{
        background-color: $background-primary;
        border-radius: 10px;
        width: 500px;
        padding: 50px 70px;

        &-logo{
            max-width: 500px;
            margin: 0 auto;
        }
    }

}