$primary-color: #044CAC;
$primary-color-hover: #4E9EF7;

$font-light: #fff;
$font-grey: #9e9e9e;
$font-dark: #000;
$font-blue: #4E9EF7;
$font-navy: #044CAC;

$border-primary: #282828;

$background-primary: #121212;
$background-secondary: #212121;
$background-dark: #000;
$background-light: #fff;

$danger: #ff3d00;